form(method="POST" action="/new")
    h1= "Post a message!"
    table
        tr
            td
                input(type="text", name="message", placeholder="message")
            td
                input(type="text", name="name" placeholder="name")
            td
                input(type="submit", value="post")